:root{
    --project_orange : #e8491d;
    --project_shadow : #35424a;
}
*{
    margin:0;
    padding:0;
}

body{
    font: 15px/1.5 Arial, Helvetica, Sans-Serif
}

a{
    text-decoration: none;
    color: white;
}

/* header part */
header{
    background-color: var(--project_shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 5vw;
    border-bottom: 5px solid var(--project_orange);
}



#branding h2{
    color:white;
    font-weight: bold;
    font-size: 35px;
}

#branding h2 span{
    color: var(--project_orange);
}

header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    list-style: none;
    font-size: 20px;
}

header nav ul li{
    padding: 0 2vw;
    cursor: pointer;
}

header nav ul li a:hover{
    color: var(--project_orange)
}

#active a{
    color: var(--project_orange)
}

/*Header finish*/


/*Hero start*/

#hero-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
    position: relative;
    text-align: center;
}

#hero-info{
    color: black;
}

#hero-info h1{
    font-size: 3rem;
    font-weight: bold;
}

#hero-info p{
    font-size: 20px;
    padding: 0 15vw;
}

#background{
    background-image: url('./images/heroImage.jpeg');
    filter: blur(5px);
    height: 60vh;
    width: 100%;
    position: absolute;
    z-index: -1;
}
#background::after {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.1);
    z-index: -1;
}

#hero-2{
    background-color: var(--project_shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 10vw;
}

#hero-2-left{
    color: white;
}

#hero-2-right{
    height: 45px;
    width: 40%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-2-right input[type="text"] {
    height: 100%;
    width: 70%;
    font-size: 20px;
}

#hero-2-right input[type="submit"] {
    height: 100%;
    width:30%;
    background-color: var(--project_orange);
    color: white;
    font-size: 15px;
    font-weight: bold;
}

#tools{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10vh 0vw;
}

#tools div{
    margin: 0px 5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#tools div h1{
    margin: 1vh 0;
    font-weight: bold;
    font-size: 2rem;
}

#tools div img{
    height: 200px;
    width: auto;
}

footer{
    text-align: center;
    padding: 3vh 0;
    font-size: 20px;
    background-color: var(--project_orange);
    color: white;
}


#about{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5vh 15vw;
}

#left{
    width: 65%;
}

#right{
    width: 30%;
    margin-left: 15px;
}

.box{
    margin: 2vh 0;
    font-size: 18px;
}

.black{
    background-color: #35424a;
    color: white;
    padding: 1vw;
}


#service{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2vh 7vw;
}

#service-left{
    width: 65%;
    
}

#service-right{
    width: 30%;
    margin-left: 15px;
    background-color: #35424a;
    padding: 2vw;
    color: white;
}

#service-right h2{
    font-size: 2rem;
}

#service-right div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 3vh;
    font-size: 20px;
}

#service-right div input[type="text"],textarea{
    width: 100%;
    height: 5vh;
}

#service-right div input[type="submit"]{
    margin-top: 5px;
    height: 5vh;
    width:30%;
    background-color: var(--project_orange);
    color: white;
    font-size: 15px;
    font-weight: bold;
}

#service-right div label{
    margin-top: 5px;
}

.service-box{
    margin: 20px 0;
    background-color: rgb(211, 210, 210);
    padding: 2vw;
    border: 1px solid black;
}

.service-box p{
    margin-top: 7px;
    font-size: 15px;
}



@media(max-width: 768px){
    header{
        flex-direction: column;
        
    }

    header nav ul{
        justify-content: center;
        align-items: center;
    }
}

